@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Source+Sans+Pro:wght@300;400&family=Titillium+Web:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: white;

}
.max-width{
    max-width: 1100px;
    padding: 0 10px;
    margin: auto;
    line-height: 36px;
}
.navbar .logo a {
    font-family: "Titillium Web", sans-serif;
    color: #5cb85c;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;

}
.navbar{
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom:solid #fff 1px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-flex;

}
.navbar .menu li a {
    font-family: "Source Sans Pro", sans-serif;
    display: block;
    color: #373a3c;
    font-size: 16px;
    font-weight: 400;
    margin-left: 25px;
    line-height: 26px;
}
.menu-btn{
    color: #373a3c;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        background-color: #5cb85c;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
}
section{
    padding: 24px;
}
@media(max-width: 690px){
    section{ 
        padding: 20px 0;
    }
}
.top{
    color: #ffff;
    display: flex;
    background-color: #5cb85c;
    padding: 50px;
    margin: auto;
    line-height: 24px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 8px -8px inset, rgba(0, 0, 0, 0.3) 0px -8px 8px -8px inset;
    border-radius: 0px;
}
.top .top-content .text-1{
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    text-shadow: #373a3c 5px;
    
}
.top .top-content .text-2{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    padding: 8px;
    line-height: 16px;
    font-weight: 300;
}
.row{
    width: 570px;
    max-width: 50%;
    background-position: 0% 0%;
    margin: auto;
    line-height: 36px;
    
}
.conteiner {
    height: 277px;
    width: 1920px;
    background-position: 0% 0%;
   display: block;

   font-family: "Source Sans Pro", sans-serif;
   
}
.conteiner .title{
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 44px;
    font-size: 40px;
}
.conteiner .conteiner-content{
    text-align: center;
}

.conteiner .conteiner-content p a{
    display: center;
    text-align: center;
    color: #5cb85c;
}

.conteiner form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.conteiner form .name{
    margin: 10px;   
}

.conteiner form .field input{
    font-family: "Source Sans Pro", sans-serif;
    height: 51px;
    width: 540px;
    border: 1px solid rgb(221, 216, 216);
    border-radius: 4.8px;
    outline: rgb(255,0,0) 1px;
    display: flex;
    cursor: text;
    padding: 12px 24px 12px 24px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border-top-right-radius: 4.8px 4.8px;
    border-bottom-right-radius: 4.8px 4.8px;
}

.conteiner form button{
    display:inline;
    align-items:baseline;
    

}

button{
    color:#ffff;
    display: block;
    height: 60PX;
    width: 106px !important;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    background-color: #5cb85c;
    border:  2px solid #5cb85c; 
    float: right;
}
.col-md-9{
    font-family: "Source Sans Pro", sans-serif;
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    flex:0 0 75%;
    max-width:75%
}
.article-preview{
    font-family: "Source Sans Pro", sans-serif;
    border-top:1px solid rgba(0,0,0,.1);
    padding:1.5rem 0
}

.article-preview .article-meta{
    
    margin:0 0 1rem
}

.article-preview .preview-link h1{
    font-family: "Source Sans Pro", sans-serif;
    font-weight:600!important;
    font-size:1.5rem!important;
    margin-bottom:3px
}
.col-md-3{
    font-family: "Source Sans Pro", sans-serif;
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    flex:0 0 25%;
    max-width:25%
}
ul.tag-list{
    font-family: "Source Sans Pro", sans-serif;
    padding-left:0!important;
    display:inline-block;
    list-style:none!important
}
    ul.tag-list li{
        font-family: "Source Sans Pro", sans-serif;
        display:inline-block!important
    }